<div class='container mt-5'>
  <center><h1>Page de présentation de la TEAM!!!</h1>
  <br>
    <div>
      <p>
        <u>Pseudo: Jett</u> <br>
        <u>Pseudo: Athé</u> <br>
      </p>
    </div>
  </center>
</div>